## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv("data/Mouse_metadata.csv")
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [2]:
mouse_metadata
mouse_metadata.value_counts

<bound method DataFrame.value_counts of     Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]>

In [3]:
# Read the mouse data and the study results
study_results = pd.read_csv("data/Study_results.csv")
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
study_results
study_results.value_counts

<bound method DataFrame.value_counts of      Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]>

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
study_results.drop_duplicates(subset ="Mouse ID", keep = False, inplace = True)
study_results

    Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
1       f932          0                45.0                 0
20      x336          0                45.0                 0
53      h428          0                45.0                 0
55      v199          0                45.0                 0
109     o848          0                45.0                 0
135     d133          0                45.0                 0
155     l872          0                45.0                 0
182     u153          0                45.0                 0
194     b447          0                45.0                 0
198     n482          0                45.0                 0
217     x226          0                45.0                 0
222     t573          0                45.0                 0

In [6]:
# Combine the data into a single dataset method 1
study_results_row_reindex = pd.concat([mouse_metadata, study_results], ignore_index=True)

study_results_row_reindex

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21.0,16.0,NaN,NaN,NaN
1,s185,Capomulin,Female,3.0,17.0,NaN,NaN,NaN
2,x401,Capomulin,Female,16.0,15.0,NaN,NaN,NaN
3,m601,Capomulin,Male,22.0,17.0,NaN,NaN,NaN
4,g791,Ramicane,Male,11.0,16.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
256,u153,NaN,NaN,NaN,NaN,0.0,45.0,0.0
257,b447,NaN,NaN,NaN,NaN,0.0,45.0,0.0
258,n482,NaN,NaN,NaN,NaN,0.0,45.0,0.0
259,x226,NaN,NaN,NaN,NaN,0.0,45.0,0.0
260,t573,NaN,NaN,NaN,NaN,0.0,45.0,0.0

In [16]:
# Counting the rows & columns
study_results_row_reindex.shape[0]

261

In [19]:
# Combine the data into a single dataset method 2
combined_mouse_df = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')
combined_mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,NaN,NaN,NaN
1,s185,Capomulin,Female,3,17,NaN,NaN,NaN
2,x401,Capomulin,Female,16,15,NaN,NaN,NaN
3,m601,Capomulin,Male,22,17,NaN,NaN,NaN
4,g791,Ramicane,Male,11,16,NaN,NaN,NaN

In [20]:
combined_mouse_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,NaN,NaN,NaN
1,s185,Capomulin,Female,3,17,NaN,NaN,NaN
2,x401,Capomulin,Female,16,15,NaN,NaN,NaN
3,m601,Capomulin,Male,22,17,NaN,NaN,NaN
4,g791,Ramicane,Male,11,16,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
244,z314,Stelasyn,Female,21,28,NaN,NaN,NaN
245,z435,Propriva,Female,12,26,NaN,NaN,NaN
246,z581,Infubinol,Female,24,25,NaN,NaN,NaN
247,z795,Naftisol,Female,13,29,NaN,NaN,NaN
248,z969,Naftisol,Male,9,30,NaN,NaN,NaN

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
#duplicate = (["mouse_metadata"]).duplicate()
#duplicate

AttributeError: 'list' object has no attribute 'duplicate'

In [ ]:
# Optional: Get all the data for the duplicate mouse ID.

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [ ]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen